<div class="container">
  <h1>Welcome to Dummy Users!</h1>
  <p>Sign up here:</p>

  <form action="/signup" method="post" name="new_user_input">
    <input type='text' name='name' placeholder='Name'><br>
    <input type='text' name='email' placeholder='Email'><br>
    <input type='text' name='password' placeholder='Password'><br>
    <input type='submit' value='Submit'>
  </form>

  <p>Log in with your information:</p>

  <form action="/" method="post" name="current_user_input">
    <input type='text' name='email' placeholder='Email'><br>
    <input type='text' name='password' placeholder='Password'><br>
    <input type='submit' value='Submit'>
  </form>
</div>